{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block pageName %}<div id="pageName">About Us</div>{% endblock %}
{% block content %}
<div class="container" style="padding-top: 5rem;">
    <!--RANDOM AI THING TO BE CHANGED-->
    <h1>About Us</h1>
    <p>Welcome to our website! We are dedicated to providing the best service possible.</p>
    <p>Our team is committed to excellence and we strive to meet your needs.</p>
    <p>If you have any questions, feel free to contact us!</p>
</div>
{% endblock %}
