{% extends "base.html" %}
{%block title%}Shopping Cart{%endblock%}
{%block pageName%}<div id="pageName">Shopping Cart</div>{%endblock%}
{%block content%}


<table class="container m-5 table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Item Unit</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {%for item in cart%}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{item.name}}</td>
            <td>$ {{item.price}}</td>
            <td>{{item.unit}}</td>
            <td>{{cart[item]}}</td>
            <td>$ {{cart[item]*item.price}}</td>
            
            
            <td>
                <h3>REMOVE BUTTON REMEMBER TO PUT IN WHEN THINGS LOOK PRETTIER</h3>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<div class="container m-5">
    {% set totals = [] %}
    {% for item in cart %}
        {% if totals.append(cart[item]*item.price) %}{% endif %}
    {% endfor %}
    {% set total = totals | sum %}
    <h3>Total: $ {{total}}</h3>

 
    <form action="/cart" method="POST">
        <input type="hidden" id='token' name="csrf_token" value = "{{ csrf_token() }}" />
        <input name="honeypot" id="honeypot" class="visually-hidden" tabindex="-1" autocomplete="off">
        <button type="submit">Checkout</button>
    </form>
    <form action="/clear_cart" method="GET">
        <input type="hidden" id='token' name="csrf_token" value = "{{ csrf_token() }}" />
        <input name="honeypot" id="honeypot" class="visually-hidden" tabindex="-1" autocomplete="off">
        <button type="submit">Clear Cart</button>
    </form>
</div>
{%endblock%}
