{% extends "base.html" %}
{%block title%}Reset Password{%endblock%}
{%block pageName%}<div id=pageName>Reset Password</div>{%endblock%}
{% block content %}
{% autoescape false %}
<h1>{{error}}</h1>
<form action="/reset_password" id='form' method="post" class="box">
    <div class="align">
        <div class=input-container> <!-- coloured wrapper/volume -->
            <h1>Reset Password</h1>
            <div class="input__wrapper"> <!-- box css-->
                <input type="password" name="password" id="password" placeholder="Password" class="input__field" required/>
                <p id="passwordLengthReq" hidden>Password must be greater than 11 and less than 26 characters</p>
                <p id="passwordUpperReq" hidden>Password must contain at least 1 uppercase letter</p>
                <p id="passwordLowerReq" hidden>Password must contain at least 1 lowercase letter</p>
                <p id="passwordIntReq" hidden>Password must contain at least 1 number</p>
                <p id="passwordSpecialReq" hidden>Password must contain at least 1 special character</p>
            </div>
            <div class="input__wrapper">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="input__field" required/>
            </div>
            <div class="input__wrapper">
                <input type="submit" id="submit" value="Log In" />
            </div>
        </div>
    </div>
    <input name="honeypot" id="honeypot" class="visually-hidden" tabindex="-1" autocomplete="off">
    <input type="hidden" id='token' name="csrf_token" value = "{{ csrf_token() }}" />
</form>

<script src="static/script.js"></script>
{%endautoescape%}
{%endblock%}