<!-- Simple display products -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
    <h3>ALL AVAILABLE PRODUCTS</h3>
    <table>
    <tr>
        <th>Product</th>
        <th>Cost($)</th>
        <th>Action</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>

        <!-- IMPORTANT LINE - THIS IS HOW WE CAN ADD THE 'CURRENT' PRODUCT ID TO THE CART -->
        <td>  <a href="/add_to_cart/{{ product.id }}">Add to Cart</a>  </td>

    </tr>
    {% endfor %}

    </table>
</body>

</html>